    <div class="modal-header fnt-lg align-cen">Change Password
        <div class="x-close fa fa-times" ng-click="cancel();"></div>
    </div>
   <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" data-ng-animate="'fade'">{{alert.msg}}</alert>
    <div class="modal-body">
      <form class="inq-from" name="form.passwordForm" novalidate>
	<div class="form-group inq-form-group">
	  <label class="fnt-sm">Old Password</label>
	  <input type="password" class="form-control" placeholder="Old Password" name="oldpassword" ng-model="user.oldpassword" required>
	  <span style="color:red" class="help-block" ng-show="form.passwordForm.oldpassword.$error.serverMessage">{{form.passwordForm.oldpassword.$error.serverMessage}}</span>
	</div>

	<div class="form-group inq-form-group">
	  <label class="fnt-sm">New Password</label>
	  <input type="password" class="form-control" placeholder="New Password" name="newpassword" ng-model="user.newpassword"  required>
	  <span style="color:red" class="help-block" ng-show="form.passwordForm.newpassword.$error.serverMessage">{{form.passwordForm.newpassword.$error.serverMessage}}</span>
	</div>

	<div class="form-group inq-form-group">
	  <label class="fnt-sm">Confirm Password</label>
	  <input type="password" class="form-control" placeholder="Confirm Password" name="confirmpassword" ng-model="user.confirmpassword"  required>
	  <span style="color:red" class="help-block" ng-show="form.passwordForm.confirmpassword.$error.serverMessage">{{form.passwordForm.confirmpassword.$error.serverMessage}}</span>
	</div>
	<div class="form-actions row">
	  <button type="submit" class="col-sm-4 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4 btn btn-warning btn-lg" ng-click="submitForm(user)">Change</button>
	</div>
      </form>
    </div>
    <div class="modal-footer ng-scope">
      <a href="javascript:void(0);" class="fnt-md" ng-click="cancel()">Close this window</a>
    </div>