<p><%= @email %> have reached the maximum limit of <%= @type %> quota.</p>
<p>Campaign Name: <%= @campaign.label %></p>
<p>Campaign Schedule On: <%= @campaign.schedule_on %></p>

Regards,<br>
Inquirly Admin<br>