<p>Dear <%= @first_name %>, </p>
<p>Your account has been de-activated. You cannot access the application<p>
<p>Thanks & Regards</p>
<p>Admin</p>
</p><%= @admin_email %></p>
<p>(for any clarification please contact the Admin)</p>