    <div class="modal-header fnt-lg align-cen">Reset Password
        <div class="x-close fa fa-times" ng-click="cancel();"></div>
    </div>
    <div class="modal-body">
      <form class="inq-from" name="form.passwordForm" novalidate>
      
	<div class="form-group inq-form-group">
	  <label class="fnt-sm">New Password</label>
	  <input type="password" class="form-control" placeholder="New Password" name="password" ng-model="userForPwdChange.new_password"  required>
	  <span style="color:red" class="help-block" ng-show="form.passwordForm.new_password.$error.serverMessage">{{form.passwordForm.new_password.$error.serverMessage}}</span>
	</div>

	<div class="form-group inq-form-group">
	  <label class="fnt-sm">Confirm Password</label>
	  <input type="password" class="form-control" placeholder="Confirm Password" name="password" ng-model="userForPwdChange.confirm_password"  required>
	  <span style="color:red" class="help-block" ng-show="form.passwordForm.confirm_password.$error.serverMessage">{{form.passwordForm.confirm_password.$error.serverMessage}}</span>
	</div>
	<div class="form-actions row">
        <div class="col-sm-12 col-md-12 col-lg-12 align-cen">
            <button type="submit" class="btn btn-warning" ng-click="changePwd(userForPwdChange)" data-ng-disabled="submitPwdForm">Change</button>
        </div>
	</div>
      </form>
    </div>
    <div class="modal-footer ng-scope">
      <a href="javascript:void(0);" class="fnt-md" ng-click="cancel()">Close this window</a>
    </div>