<div id="landing-content">
<div class="reset-content">
  <div class="inq-panel">
    <div class="inq-panel-container">
      <div class="container-fluid">
        <form class="inq-from" id="forgot-password-form">
          <div class="alert fade in" style="display: none"></div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="form-group inq-form-group">
                <label class="fnt-lg">Reset Password</label>
                <input type="text" class="form-control fnt-sm" name="user[email]" id="email" placeholder="Enter email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="form-group inq-form-group">
                <button type="submit" class="btn btn-block btn-lt-orng" id="reset-password-submit">RESET PASSWORD</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="align-cen fnt-sm fnt-gry">
                We'll send you an email with instructions
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="inq-panel-footer-bar">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="form-group inq-form-group fnt-sm">
            Don't have an account? <a href="javascript:void(0);" onClick="render_sign_up_form();" class="fnt-sm"> Sign up for Inquirly</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="inq-panel-footer-logo">
    <div class="row M0">
      <div class="col-sm-12 col-md-12 col-lg-12 P0M0">
        <a href="<%= ENV['BUSINESS_APP']%>" target="_blank">
          <img src="/ng-app/Images/google-play.png" style="height:35px;">
        </a>
      </div>
    </div>
  </div>
  <div class="inq-panel-footer-logo">
    <div class="row M0">
      <div class="col-sm-12 col-md-12 col-lg-12 P0M0">
        <a href="javascript:void(0);">
          <img src="/ng-app/Images/powered_by_logo.png" style="width:100px;">
        </a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<script>
    jQuery("#reset-password-submit").click(function(){
        var resetButton = $(this);
        resetButton.prop('disabled', true);
        resetButton.html("<i class='fa fa-spinner fa-spin'></i> RESET PASSWORD");
        $(".alert").removeClass("alert-danger").removeClass("alert-success");
        var reset_password_params = $('#forgot-password-form').serialize();

        jQuery.ajax({
            beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            type: "POST",
            url: "/users/password",
            data:   reset_password_params,
            dataType: "json",
            success: function(data){
                if(data.header.status == "200"){
                    resetButton.prop('disabled', false);
                    resetButton.html("RESET PASSWORD");
                    $("#email").val('');
                    $(".alert").addClass("alert-success").html('<a href="javascript:void(0);" onclick="closeAlert();" class="close">×</a>'+"You will receive an email with instructions about how to reset your password in a few minutes.").show();
                }else{
                    resetButton.prop('disabled', false);
                    resetButton.html("RESET PASSWORD");
                    $("#email").focus();
                    $(".alert").addClass("alert-danger").html('<a href="javascript:void(0);" onclick="closeAlert();" class="close">×</a>'+data.body.errors).show();
                }
            }
        });
        return false
    });
</script>
