<div id="landing-content">
<div class="signin-content">
  <div class="inq-panel">
    <div class="inq-panel-container">
      <div class="container-fluid">
        <form class="inq-from">
          <div class="alert alert-danger fade in" style="display: none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Error!</strong>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="form-group inq-form-group">
                <input type="text" class="form-control fnt-sm" placeholder="Enter URL" id="long-url">
              </div>
              <span style="margin-left: 18px;padding:5px;" id="result-url"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="form-group inq-form-group">
                <button type="submit" class="btn btn-block btn-lt-orng" id="shorten-submit">SHORT THIS</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>