
<div class="row" style="padding-top: 10px">
    <div class="col-sm-1 col-md-1 col-lg-1">
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5">
        <span class="item-name"> {{item.item_name}} </span>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5">
        <div class="row">
            <span><i class="fa fa-clock-o" style="color:red"></i></span>
            <span class="item-date">{{item.item_date |  date:"MM/dd/yyyy H:mm"}}</span>
        </div>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1">
         <span><i class="fa fa-close" style="color:#ccc;cursor:pointer; font-size:25px" ng-click="cancel()"></i>
    </div>

</div>

<div class="row" style="margin-top:30px;margin-bottom: 10px;">
    <div class="col-sm-2 col-md-2 col-lg-2">
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8" style="border:1px solid #9e9c9c; padding:20px; border-radius: 5px;">
        <div class="ordered-item-info">
            <div class="row item-info-list">
                <div class="col-sm-1 col-md-1 col-lg-1 P0">
                    <span><i class="fa fa-user"></i></span>
                </div>
                <div class="col-sm-10 col-md-10 col-lg-10 Pl0">
                    <div class="ordered-item-name-mark"><span>{{item.customer.first_name}} {{item.customer.last_name}}</span></div>
                </div>
            </div>
            <div class="row item-info-list">
                <div class="col-sm-1 col-md-1 col-lg-1 P0">
                    <div><span><i class="fa fa-envelope"></i></span></div>
                </div>
                <div class="col-sm-10 col-md-10 col-lg-10 Pl0">
                    <div class="ordered-item-person-mark" style="color:#7c7c7c"><span>{{item.customer.email}}</span></div>
                </div>
            </div>
            <div class="row item-info-list">
                <div class="col-sm-1 col-md-1 col-lg-1 P0">
                    <span><i class="fa fa-phone"></i></span>
                </div>
                <div class="col-sm-10 col-md-10 col-lg-10 Pl0">
                    <div class="ordered-item-location"><span>{{item.customer.mobile}}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-sm-10 col-md-10 col-lg-10" >
        <div class="btn-group" role="group" style="margin-left:-15px">
            <button type="button" class="btn btn-default inq-grp-btn" ng-class="{active: actionName == 'CALL'}" ng-click="onActionSelect('CALL')"><i class="fa fa-phone"></i>&nbsp;CALL</button>
            <button type="button" class="btn btn-default inq-grp-btn" ng-class="{active: actionName == 'MEETING'}" ng-click="onActionSelect('MEETING')"><i class="fa fa-coffee"></i> MEETING</button>
            <button type="button" class="btn btn-default inq-grp-btn" ng-class="{active: actionName == 'DEMO'}" ng-click="onActionSelect('DEMO')"><i class="fa fa-tablet"></i>&nbsp; DEMO</button>
            <button type="button" class="btn btn-default inq-grp-btn" ng-class="{active: actionName == 'TOUR'}" ng-click="onActionSelect('TOUR')"><i class="fa fa-compass"></i>&nbsp;TOUR</button>
        </div>
    </div>
</div>

<div class="row" style="margin-top:5px;">
    <div class="col-sm-2 col-md-2 col-lg-2"></div>
    <div class="col-sm-8 col-md-8 col-lg-8" style="margin-left:-15px;">
        <textarea ng-model="note" rows="4" cols="65" placeholder="Add a note.." style="background-color:#FFFFCC;font-size:11px"></textarea>
    </div>
</div>

<div class="row" style="margin-bottom:10px">
    <div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-sm-10 col-md-10 col-lg-10">
        <div class="col-md-12" style="margin-left: -30px">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <p class="input-group">
                         <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open()"><i class="fa fa-calendar-o"></i></button>
                         </span>
                        <input type="text" class="form-control" datepicker-popup ng-model="dt" is-open="popup.isOpened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    </p>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6" style="margin-left:-30px">
                    <p class="input-group">
                        <timepicker-pop input-time="time" class="input-group" show-meridian='false'>
                        </timepicker-pop>

                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-bottom:10px">
    <div class="col-sm-offset-5 col-md-offset-5 col-lg-offset-5 col-sm-7 col-md-7 col-lg-7">
        <button type="button" class="btn btn-lt-green" ng-click="save()" style="width:100px">SAVE</button>
    </div>
</div>
