<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/ng-app/ang-styles/bootstrap.css">
    <link rel="stylesheet" href="/ng-app/ang-styles/font-awesome.css">
    <link rel="stylesheet" href="/ng-app/ang-styles/font-awesome.min.css">
    <link rel="stylesheet" href="/ng-app/ang-styles/base.css">
    <link rel="stylesheet" href="/ng-app/ang-styles/base-dev.css">
    <%= csrf_meta_tag %>
    <title>PowerShare | Inquirly</title>
  </head>
  <body>
    <div class="main-container">
       <%= yield %>
    </div>
    <script type="text/javascript" src="/ng-app/ang-js/jquery.min.js"></script>
    <script type="text/javascript" src="/ng-app/ang-js/bootstrap.min.js"></script>
  </body>
</html>